/* line 1, sass/master.sass */
* {
  user-select: none;
}

/* line 3, sass/master.sass */
#container {
  height: 700px;
  width: 100%;
  background: lightblue;
  margin: 0;
}
/* line 9, sass/master.sass */
#container .top {
  margin-left: 20px;
  display: flex;
}
/* line 12, sass/master.sass */
#container .top .placeName {
  float: right;
  margin: 0;
  margin-top: 0.6em;
  margin-left: 12em;
  font-size: 40px;
}
/* line 18, sass/master.sass */
#container .top .big {
  font-size: 40px;
  margin: 0;
  margin-top: 20px;
}
/* line 23, sass/master.sass */
#container .top .big .small {
  font-size: 20px;
  vertical-align: text-top;
}
/* line 29, sass/master.sass */
#container .subCon {
  width: 100%;
  margin-top: 2em;
}
/* line 33, sass/master.sass */
#container .subCon .main h2 {
  padding: 20px;
  border-bottom: 1px solid white;
}
/* line 36, sass/master.sass */
#container .subCon .main ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 44, sass/master.sass */
#container .subCon .main ul .temperature ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 48, sass/master.sass */
#container .subCon .main ul .temperature ul li {
  padding: 20px;
}
/* line 50, sass/master.sass */
#container .subCon .main ul .prognoseContainer {
  width: 40%;
}
/* line 52, sass/master.sass */
#container .subCon .main ul .prognoseContainer #tempprognose {
  height: 250px;
  width: 100%;
}
/* line 55, sass/master.sass */
#container .subCon .main ul .prognoseContainer #humidPrognose {
  height: 250px;
  width: 100%;
}
/* line 59, sass/master.sass */
#container .subCon .weekMenu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
/* line 66, sass/master.sass */
#container .subCon .weekMenu li {
  height: 160px;
  width: 18%;
  border-bottom: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
/* line 73, sass/master.sass */
#container .subCon .weekMenu li p {
  text-align: center;
}
/* line 75, sass/master.sass */
#container .subCon .weekMenu li p .subConSmall {
  font-size: 8px;
  vertical-align: text-top;
}
/* line 79, sass/master.sass */
#container .subCon .weekMenu #active {
  border: 1px solid white;
  border-bottom: 0;
  background-color: steelblue;
}
